h1 {
    text-align: center;
    display: block;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    text-align: center;
    border: 1px solid black;
}
img {
    borders: 1px solid black;
    width: auto;
    height: 100px;
}
body {
    background-image: linear-gradient(rgb(0, 255, 234, .75), rgb(0, 255, 200, .5), rgb(0, 255, 128, .25));
    background-repeat: no-repeat;
    object-fit: fill;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
   }
main {
    display: flex;
    justify-content: space-around;
}
.columns {
    border: 1px solid black;
    padding: 10px;
    width: 28%;
}
.fish-column {
    border: 1px solid black;
    padding: 2em;
    width: 7;
}
.fish-collection-container {
    border: 1px solid black;
}
.fish-container {
    border: 1px solid black;
    display: flex;
}
.fish-container-info {
    width: 17em;
}
.travel-column{
    border: 1px solid black;
    padding: 2em;
    width: 5;
}
.travel-tips-container {
    height: 25%;
}
.locations-container {
    width: 17em;
}
.locations-container-info {
    height: 25%;
}
.maintenance-column{
    border: 1px solid black;
    padding: 2em;
    width: 1;
}
.martins-tips {
    border: 1px solid black;
}
.tank-maintenance-info {
    border: 1px solid black;
}
.quote-box {
    border: 1px solid black;
    height: 25%;
}
* {
    border: 1px dashed goldenrod;
}